{# Use result values if available, otherwise fall back to config #}
{% set version = app_version if app_version is defined else result.app_version if result and result.app_version else config.APP_VERSION %}
{% set env = environment if environment is defined else result.environment if result and result.environment else config.ENVIRONMENT %}
{% set debug = debug if debug is defined else result.debug if result and result.debug is not none else config.DEBUG %}


<footer class="text-center text-xs text-gray-500 mt-10">
    <p>Version : {{ app_version }}</p>
    <p>Environnement : {{ env }} – Debug : {{ debug }}</p>
</footer>