<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Outils de date{% endblock %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- Flatpickr CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

</head>
<body class="bg-gradient-to-br from-blue-100 to-indigo-200 min-h-screen p-4 flex flex-col items-center">

    {% include "_navbar.html" %}
    {% include "_status_banner.html" %}

    <main class="w-full max-w-3xl mt-6">
        {% block content %}{% endblock %}
    </main>

    {% include "_footer.html" %}

    <!-- Flatpickr JS -->
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/fr.js"></script>
    <script>
    flatpickr(".datepicker", {
        altInput: true,
        altFormat: "j F Y",
        dateFormat: "Y-m-d",
        locale: "fr"
    });
    </script>

      

</body>
</html>
